$primaryColor: #4A90E2;
$secondColor:#0087AC;

.header{
    padding: .75rem 1.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: .7);
    color: antiquewhite;

    &-button {
        color: antiquewhite;
        padding: 7px 12px;
        background-color: rgba($color: #312f2f, $alpha: .4);
        border-radius: 4px;

        &:hover {
            box-shadow:  -1px 2px 12px 3px rgba(170, 167, 167, 0.75);
        }

        &:active {
            color: rgba(109, 8, 8, 0.75);
        }
    }
    

}
.logo {
    width: 50px;
    height: auto;
    display: block;
    margin-right: auto;
}
