.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .5em 1em;
    background: #030303;
    color: #a5a78e;
    display: flex;
    justify-content: space-around;

    &-link {
        color: inherit;
        text-decoration: none;
    }
  }