<footer class="footer">
    <a class="footer-link" href="#">All rights reserved</a>
    <a class="footer-link" href="#">link</a>
    <a class="footer-link" href="#">link+</a>
    <a class="footer-link" href="#">link++</a>
</footer>