<div class="wrapper">
    <div class="form-wrapper">
        <form novalidate class="form-login" [ngClass]="{'form-login_active': formLogin_active}" [formGroup]='loginForm' (ngSubmit)='login()'>
            <div class="form-button form-button-sign" (click)="formSignShow()">Регистрация</div>
            <h2 class="title">И снова здравствуйте</h2>
            <label class="form-label">
                <input class="input" type="email" formControlName="login" placeholder="example@mail.com">
                <span class="form-label-text">Ваша почта</span>
                <img *ngIf="loginForm.get('login').hasError('pattern') && loginForm.get('login').touched" class="form-icon" src="../../assets/img/wrong.png" alt="wrong">
                <img *ngIf="loginForm.get('login').valid" class="form-icon" src="../../assets/img/ok.png" alt="ok">
            </label>
            <span class="form-error_massege">{{errorLogIn}}</span>
            <label class="form-label">
                <input class="input" type="password" formControlName="password" placeholder="password" />
                <span class="form-label-text">Ваш пароль</span>
                <img *ngIf="loginForm.get('password').hasError('minLength') && loginForm.get('password').touched" class="form-icon" src="../../assets/img/wrong.png" alt="wrong">
                <img *ngIf="loginForm.get('password').valid && loginForm.get('password').touched" class="form-icon" src="../../assets/img/ok.png" alt="ok">
            </label>
            <div class="form-button-simple" (click)="showRestPasswordForm()">Напомнить пароль</div>
            <button type="submit" class="form-button-sign-up">Войти</button>
        </form>
        <form novalidate class="form-sign-up" [ngClass]="{'form-sign-up_active': formSign_active}" [formGroup]='signUpForm' (ngSubmit)='signUp()'>
            <div class="form-button form-button-log" (click)="formLoginShow()">Войти</div>
            <h2 class="title">Давайте знакомиться</h2>
            <label class="form-label">
                <input class="input" type="text" formControlName="name" placeholder="name">
                <span class="form-label-text">Ваше имя</span>
                <img *ngIf="signUpForm.get('name').invalid && signUpForm.get('name').touched" class="form-icon" src="../../assets/img/wrong.png" alt="wrong">
                <img *ngIf="signUpForm.get('name').valid" class="form-icon" src="../../assets/img/ok.png" alt="ok">
            </label>
            <span class="form-error_massege">{{errorRegistration}}</span>
            <label class="form-label">
                <input class="input" type="login" formControlName="login" placeholder="example@mail.com">
                <span class="form-label-text">Вашa почтa </span>
                <img *ngIf="signUpForm.get('login').hasError('pattern') && signUpForm.get('login').touched" class="form-icon" src="../../assets/img/wrong.png" alt="wrong">
                <img *ngIf="signUpForm.get('login').valid" class="form-icon" src="../../assets/img/ok.png" alt="ok">
            </label>

            <label class="form-label">
                <input class="input" type="password" formControlName="password" placeholder="password">
                <span class="form-label-text">Ваш пароль</span>
                <img *ngIf="signUpForm.get('password').hasError('minLength') && signUpForm.get('password').touched" class="form-icon" src="../../assets/img/wrong.png" alt="wrong">
                <img *ngIf="signUpForm.get('password').valid && signUpForm.get('password').touched" class="form-icon" src="../../assets/img/ok.png" alt="ok">
            </label>
            <button type="submit" class="form-button-sign-up form-button-sign-up-reg" >Зарегистрироваться</button>
        </form>
        <!-- ngModel не работал без (#myForm="ngForm") а потом сменил "name" на (formControlName="mail") -->
        <form novalidate class="form-reset_password" #myForm="ngForm" [formGroup]='resetMailForm' [ngClass]="{'form-reset_password_active': formResetMail_active}">
            <div class="form-button form-button-log" (click)="formLoginShow()">Войти</div>
            <h2>Смена пароля для аккаунта</h2>
            <label class="form-label">
                <input class="input" type="mail" formControlName="mail" [(ngModel)]="mailForReset" placeholder="somemail@mail.com">
                <span class="form-label-text">Ваша почта </span>
                <img *ngIf="resetMailForm.get('mail').hasError('pattern') && resetMailForm.get('mail').touched" class="form-icon" src="../../assets/img/wrong.png" alt="wrong">
                <img *ngIf="resetMailForm.get('mail').valid" class="form-icon" src="../../assets/img/ok.png" alt="ok">
            </label>
            <button class="form-button-sign-up form-button-sign-up-reg" (click)="GetRestPasswordForm()">Отправить письмо для смены пароля</button>
        </form>
    </div>
</div>
