.checkbox{
    display: none;
    &-form{
        @extend .checkbox;
    }

}


.title{
    text-align: center;
}

.input {
    width: 100%;
    margin: 1.5rem 0 0;
    padding: .5em;
    font-size: 1rem;
    background-color: rgba($color: #fff, $alpha: .7);
    border: 1px solid rgb(99, 59, 7);
    border-radius: 3px;

    &:placeholder-shown + .form-label-text {
        opacity: 0;
        transform: translateY(1em);
    }
}

.wrapper {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    min-height: 320px;
    display: none;
    flex-direction: column;

    &-wrapper{
        width: calc(100% - 4rem);
        max-width: 500px;
      //  margin: 1rem auto;
        border: 1px solid #2c2a2a;
        border-radius: 7px;
        padding: 1rem;
        background-color: rgba($color: #fff, $alpha: .8);
        display: flex;
        flex-direction: column;
        box-shadow:  4px 3px 17px 0px rgba(50, 50, 50, 0.7);
    }

    &-label {
        position: relative;

        &-text {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 1;
            transform: translateY(0em);
            transition: all 0.2s ease-out;
            font-size: 1rem;

        }

    }

    &-login {
        @extend .form;
        
        &_active {
            display: flex;
        }
    }

    &-sign-up {
        @extend .form;

        &_active {    
            display: flex;
        }
    }
    &-reset_password {
        @extend .form;

        display: none;

        &_active {
            display: flex;
        }
    }

    &-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        right: .5em;
        bottom: .5em;


    }

    &-button {
        
            padding: .2em .5em;
            border: 1px solid rgb(148, 144, 144);
            border-radius: 3px;
            width: max-content;
            margin-left: auto;
            margin-bottom: 12px;
            cursor: pointer;
    
            &-exit {
                @extend .form-button;
    
                font-size: 1rem;
                color: antiquewhite;
            }
            
            &:hover{
                box-shadow:  -1px 2px 12px 3px rgba(0,0,0,0.75);
                background: transparent;
            }
            &:active {
                color: red;
            }
    
            // & + & {
            //     margin-left: 7px;
            // }
    
        &-bottom{
            margin: auto auto 0;
            padding: .5em;
            border-radius: 3px;
        }

        &-reg {
            background-color: rgb(82, 184, 73);
            @extend .form-button-bottom;
            &:hover {
                background-color: rgb(55, 119, 50);

            }
            
        }

        &-simple {
            width: max-content;
            margin-left: auto;
            margin-top: .5em;
            border-bottom: 1px dashed currentColor;
            color: #044473;
            cursor: pointer;

        }

        &-sign-up {
            @extend .form-button-bottom;
            margin-top: auto;
            font-size: 1rem;

            position: relative;
            background: none;
            color: #3e2405;
            text-transform: uppercase;
            text-decoration: none;
            border: 0.25em solid #8a5008;
            padding: 0.5em 1em;
            transition: .2s ease-in;
            transition-property: background-color, color, box-shadow;


            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 10%;
                background: #fff;
                height: 0.3em;
                right: 20%;
                top: -0.21em;
                transform: skewX(-45deg);
                transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 10%;
                background: #fff;
                height: 0.3em;
                left: 20%;
                bottom: -0.25em;
                transform: skewX(45deg);
                transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
            }
            &:hover {

                background-color: #8a5008;
                color: antiquewhite;
                box-shadow:  0px 2px 12px 8px rgba(0,0,0,0.5);
                


                &::before {
                right: 80%;
                }
                &::after {
                left: 80%;
                }
            }

            &-reg {
                border-color: rgb(82, 184, 73);
                color: rgb(12, 29, 11);
                margin-top: auto;

                &:hover {
                    background-color: rgb(82, 184, 73);
                    color: #fff;    
                }
                
            }           
        }
    }
    &-error_massege {
        color: red;
    }
}

.checkbox-form:checked ~ .form-login {
        display: none;
}

.checkbox-form:checked ~ .form-sign-up {
        display: flex;
}

.checkbox-form:checked ~ .form-button-sign {
    display: none;
}

.checkbox-reg:checked ~ .form-button-log {
    display: none;
}