.media {
    &-wrapper{
        display: flex;
        min-height: calc(100vh - 100px);
        flex-wrap: wrap;
    }

    &-sidebar {
        width: 180px;
        background-color: rgba($color: #000000, $alpha: 0.55);
        border-right: 2px solid rgb(97, 41, 21);
        padding-top: 2rem;
    }
    &-input-add {
        display: none;
    }

    &-box {
        flex-grow: 1;
        background-color: rgba($color: #000000, $alpha: 0.3);
        padding: 1rem 0 1rem 1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        align-content: baseline;
        width: calc(190px - 100%);
        
        &-container {
            border: 2px solid black;
            border-radius: 5px;
            margin-right: 1rem;
            margin-bottom: 1rem;

            transition: .21s all ease-in;

            &:hover {
                transform: scale(1.16);
            }
    
        }
        &-img {
            width: 200px;
        }

        &-title {
            padding: 1rem;
            color: blanchedalmond;
            text-align: center;
        }

    }

    &-tools{
        text-align: center;
        &-img {
            width: 50px;
            height: 50px;
            transition: .21s all ease-in;
            margin-bottom: 1rem;

            &:hover {
                transform: scale(1.16);
            }
        }

//        &-plus {}
    }

}