<div class="media-wrapper">
    <ul class="media-sidebar">
        <li class="media-tools">
            <label for="file">
                <img class="media-tools-img media-tools-plus" src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/add-circle-green-512.png" alt="add">
            </label>
            <input id="file" class="media-input-add" type="file" (change)="upload($event)" accept=".png,.jpg" />
        </li>
        <li class="media-tools" (click)='sort()'>
            <img class="media-tools-img" src="https://c7.uihere.com/icons/211/320/855/sort-alphabetical-68e8ecee3d970461aedd12138b06864e.png" alt="add">
        </li>
        <li class="media-tools" (click)='random()'>
            <img class="media-tools-img" src="https://cdn2.iconfinder.com/data/icons/arrows-56/98/14-arrow-repeat-5-512.png" alt="A-Z">
        </li>
        <li class="media-tools" (click)='size()'>
            <img class="media-tools-img" src="https://img.icons8.com/dotty/452/numerical-sorting-12.png" alt="Random">
        </li>
    </ul>

    <div class="media-box">
        <div class="media-box-container" *ngFor="let item of dataBase">
            <img class="media-box-img" 
            [src]= "item.url"
             alt="">
            <p class="media-box-title">
                {{item.name}}
            </p>    
        </div>
    </div>
</div>