/* You can add global styles to this file, and also import other style files */

//@import '~ bootstrap / dist / css / bootstrap.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  li,
  p,
  pre,
  blockquote,
  figure,
  hr {
    margin: 0;
    padding: 0;
  }

ul {
    list-style: none;
  }
button {
  padding: 0;
  background: transparent;
  border: 0;
}
  
body {
    position: relative;
    min-height: 100vh;
    background-color: #ccc;
    background-image: url(../src/assets/img/backg_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
